.grid {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.gridVertical {
  composes: grid;
  flex-direction: column;
}

.gridElement {
  flex: 1 1 auto;
  padding: 3rem;
  max-width: calc(100% - 6rem);

  @media (max-width: 768px) {
    padding: 1rem;
    max-width: calc(100% - 2rem);
  }
}

.gridElementYellow {
  composes: gridElement;
  background-color: var(--cb-yellow-main);
}

.gridElementDarkRed {
  composes: gridElement;
  background: linear-gradient(
    355deg,
    rgba(5, 9, 14, 1) 0%,
    rgba(71, 21, 25, 1) 100%
  );
  background-attachment: fixed;
}

.gridElementDark {
  composes: gridElement;
  background-color: var(--cb-darkest-gray);
}

.gridElementWhiteOnBlack {
  composes: gridElement;
  background-color: var(--cb-black);
  color: var(--cb-white);
}
