:root {
  --cb-yellow-main: hsl(58, 100%, 48%);
  --cb-yellow-alt: hsl(73, 100%, 68%);
  --cb-yellow-transparent: hsla(73, 100%, 68%, 0.15);
  --cb-yellow-more-transparent: hsla(73, 100%, 68%, 0.05);
  --cb-red: hsl(3, 100%, 67%);
  --cb-red-dark: hsl(3, 55%, 16%);
  --cb-red-transparent: hsla(3, 100%, 67%, 0.15);
  --cb-turquoise: hsl(184, 100%, 50%);
  --cb-turquoise-opaque: hsla(184, 100%, 50%, 0.75);
  --cb-turquoise-transparent: hsla(184, 100%, 50%, 0.12);
  --cb-turquoise-dark: hsl(184, 51%, 24%);
  --cb-turquoise-dark-alt: hsl(184, 100%, 18%);
  --cb-blue-transparent: hsla(203, 98%, 50%, 0.1);
  --cb-green: hsl(149, 85%, 52%);
  --cb-white: hsl(0, 0%, 100%);
  --cb-gray: hsl(10, 6%, 79%);
  --cb-darkest-gray: hsl(300, 18%, 8%);
  --cb-darkest-gray-transparent: hsla(300, 18%, 8%, 0.6);
  --cb-light-gray-transparent: hsla(0, 0%, 100%, 0.2);
  --cb-black: hsl(0, 0%, 0%);
  --cb-black-transparent: hsla(0, 0%, 0%, 0.5);
  --cb-mindight-navy: hsl(240, 50%, 6%);
}

.theme:global(.cyberpunk-ui-theme-yellow) {
  --cb-background-color: var(--cb-yellow-main);
  --cb-secondary-background-color: var(--cb-darkest-gray-transparent);
  --cb-primary-text-color: var(--cb-black);
  --cb-secondary-text-color: var(--cb-white);
  --cb-primary-color: var(--cb-turquoise);
  --cb-accent-color: var(--cb-turquoise);
  --cb-secondary-color: #000;
  --cb-tertiary-color: #000;
  --cb-quaternary-color: #000;
}

.theme:global(.cyberpunk-ui-theme-dark-red) {
  --cb-background-color: var(--cb-yellow-main);
  --cb-secondary-background-color: var(--cb-darkest-gray);
  --cb-primary-text-color: var(--cb-red);
  --cb-secondary-text-color: var(--cb-red);
  --cb-primary-color: var(--cb-red);
  --cb-accent-color: var(--cb-turquoise);
  --cb-secondary-color: #000;
  --cb-tertiary-color: #000;
  --cb-quaternary-color: #000;
}

.theme:global(.cyberpunk-ui-theme-dark) {
  --cb-primary-background-color: var(--cb-darkest-gray);
  --cb-secondary-background-color: var(--cb-yellow-transparent);
  --cb-primary-text-color: var(--cb-yellow-alt);
  --cb-secondary-text-color: var(--cb-yellow-alt);
  --cb-primary-color: var(--cb-yellow-alt);
  --cb-accent-color: var(--cb-turquoise);
  --cb-secondary-color: #000;
  --cb-tertiary-color: #000;
  --cb-quaternary-color: #000;
}
