.infoContainer {
  /* --aug-tr: 15px; */
  --aug-tr1-width: 10px;
  --aug-tr1-height: 10px;
  --aug-tr2-width: 10px;
  --aug-tr2-height: 10px;
  /* --aug-tr-border2: 70px; */
  --aug-border-bg: #00f0ff;
  --aug-border-all: 1px;

  /* --aug-tr-inset1: calc(100% - 7.5rem); */
  /* --aug-br: 1rem;
  --aug-br-inset2: calc(100% - 7.5rem); */

  --aug-br: 10px;
  --aug-br-inset2: calc(100% - 141px);

  --aug-tr-extend2: 49px;

  /* --var-border-left-width: 8px; */
}

.info {
  /* width: calc(100% - 8px); */
  height: 100%;

  color: #fff;

  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.6);
  /* border: 1px solid #00f0ff; */
  border-left: 8px solid #00f0ff;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 2px 16px rgba(0, 0, 0, 0.25); */

  /* height: 80px;
  overflow: hidden; */
}

.innerShapeContainer {
  width: 20px;
  float: left;

  /* TODO: make dynamic */
  shape-outside: polygon(1px 71px, 40% 65.34%, 0 90.34%);
  shape-margin: 1rem;
}

.innerShape {
  --aug-tr: 70px;
  width: 10px;
  height: 145px;
  background-color: #00f0ff;
}

.outerShapeContainer {
  float: right;
  width: 55px;
  height: 100%;

  shape-outside: polygon(
    0px 0px,
    3px 18px,
    29px 22px,
    28px 61px,
    40px 71px,
    40px 125px,
    27px 140px,
    28px 100%,
    50px 100%,
    50px 0px
  );
}

.outerShape {
  --aug-tr: 70px;
  margin: 0 0 0 auto;
  width: 10px;
  height: 145px;
  /* background-color: #00f0ff; */
}

.shortDescription {
  /* TODO: set margin 0 for all p tags globally */
  margin: 0;
  padding: 10px;

  text-align: justify;
  font-family: 'Blender Pro', sans-serif;
}
