.infoContainer {
  /* all the border */
  --aug-border-bg: #00f0ff;
  --aug-border-all: 1.5px;

  /* right top corner */
  --aug-tr1-width: 10px;
  --aug-tr1-height: 10px;

  /* right shape */
  --aug-tr2-width: 10px;
  --aug-tr2-height: 10px;
  --aug-br: 10px;
  --aug-br-inset2: 33px;
}

.info {
  height: 100%;

  color: #fff;

  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.6);
  border-left: 8px solid #00f0ff;

  overflow: hidden;
}

/* text flow of inner shape defines here */
.innerShapeContainer {
  width: 20px;
  height: 100%;
  min-height: 175px;

  float: left;
  shape-outside: polygon(
    0 calc(100% - 110px),
    10px calc(100% - 80px),
    0 calc(100% - 50px)
  );
  shape-margin: 1rem;
}

/* the shape itself but text flow is in .innerShapeContainer (see shape-outside/margin) */
/* top position is set via --aug-tr in useEffect */
.innerShape {
  width: 10px;
  height: calc(100% - 30px);
  min-height: 145px;
  background-color: #00f0ff;
}

.outerShapeContainer {
  float: right;
  width: 55px;
  height: 100%;

  shape-outside: polygon(
    /* 0 calc(100% - 110px), */ 0 0,
    /* 18 */ 3px 18px,
    /* 22 */ 29px 22px,
    45px 45px,
    /* 45px 125px, */
      /* 28px calc(375px - 129px),
    40px calc(375px - 119px),
    40px calc(375px - 75px),
    27px calc(375px - 50px), */
      /* 28px 100%,
    50px 100%, */ 100% 0
  );

  shape-outside: polygon(
    0px 0px,
    3px 18px,
    29px 22px,
    29px calc(333px - 210px),
    100% 0px
  );
}

.shortDescription {
  /* TODO: set margin 0 for all p tags globally */
  margin: 0;
  padding: 10px;

  text-align: justify;
  font-family: 'Blender Pro', sans-serif;
}
