.root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 10px;

  &:hover,
  &:has(.thumb:focus-visible) {
    .track {
      height: 5px;
    }

    .thumb {
      width: 14px;
      height: 14px;
    }
  }
}

.track {
  cursor: pointer;
  background-color: gray;
  position: relative;
  flex-grow: 1;
  height: 3px;
  transition: height 0.2s;
}

.range {
  position: absolute;
  background-color: var(--cb-accent-color);
  height: 100%;
}

.thumb {
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--cb-accent-color);
  border-radius: 10px;
  transition: width 0.2s, height 0.2s;

  &:focus-visible {
    outline: none;
    /* box-shadow: 0 0 0 1px var(--cb-red-vivid); */
  }
}
