.card {
  font-family: 'Blender Pro', sans-serif;

  display: grid;
  grid-template-columns: auto auto;
  max-width: 600px;
  gap: 10px;
}

.userSection {
  display: flex;
  flex-direction: column;
  align-items: end;

  --aug-bl: 30px;

  color: #333;

  margin-top: 1px;
}

.name {
  font-weight: 800;
}
