html,
body,
#storybook-root {
  height: 100%;
}

[data-theme='yellow'] .sbdocs-wrapper {
  background-color: var(--cb-yellow-main);
}

[data-theme='darkRed'] .sbdocs-wrapper {
  background-color: transparent;
  background: linear-gradient(
    355deg,
    rgba(5, 9, 14, 1) 0%,
    rgba(71, 21, 25, 1) 100%
  );
  background-attachment: fixed;
}

[data-theme='dark'] .sbdocs-wrapper {
  background-color: var(--cb-darkest-gray);
}

[data-theme='yellow']
  .sbdocs-wrapper
  :is(.sbdocs-title, .sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-black);
}

[data-theme='darkRed'] .sbdocs-wrapper .sbdocs-title {
  color: var(--cb-turquoise);
}

[data-theme='darkRed']
  .sbdocs-wrapper
  :is(.sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-red);
}

[data-theme='dark']
  .sbdocs-wrapper
  :is(.sbdocs-title, .sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-yellow-alt);
}

.sbdocs-wrapper :is(.sbdocs-title, #stories) {
  font-family: 'Refinery 25', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 100%;
}
.sbdocs-wrapper #stories {
  font-size: 30px;
}

.sbdocs-wrapper .sbdocs-title + p {
  font-family: 'Blender Pro Book', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.sbdocs-wrapper .sbdocs-preview {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border-width: 0;
  position: relative;

  clip-path: polygon(
    -1px 15px,
    0px 15px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(100% + 1px),
    -1px calc(100% + 1px)
  );
}
.sbdocs-wrapper .sbdocs-preview::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  clip-path: polygon(
    2px 17px,
    2px 16px,
    16px 2px,
    17px 2px,
    17px 2px,
    17px 2px,
    17px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 17px,
    -1px 17px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 17px,
    2px 17px
  );
}
[data-theme='yellow'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-red);
}
[data-theme='dark'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-yellow-alt);
}

.sbdocs-wrapper .sbdocs-preview > div:has(button[title='Zoom in']) {
  box-shadow: none;
}
.sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  button:first-child {
  margin-left: 10px;
}
[data-theme='yellow']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in']) {
  background-color: var(--cb-turquoise);
  color: var(--cb-black);
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in']) {
  background-color: hsl(355, 51%, 18%);
  color: var(--cb-red);
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  > div {
  position: relative;
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  > div::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--cb-red);
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  :is(button:hover, button:focus-visible) {
  background-color: transparent;
  color: var(--cb-turquoise);
  filter: drop-shadow(0px 0px 3px var(--cb-turquoise))
    drop-shadow(0px 0px 12px var(--cb-turquoise))
    drop-shadow(0px 0px 16px var(--cb-turquoise));
  outline: none;
}

.sb-anchor > h3 {
  font-family: 'Blender Pro Bold', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* show code button */
.docs-story > div:last-child:has(> button) {
  bottom: 0;
  right: 2px;
  background: transparent;
}
.docs-story > div:last-child > button {
  border: none;
  border-radius: 0;
  font-family: 'Blender Pro Bold', sans-serif;
  font-size: 14px;
}
.docs-story > div:last-child > button {
  padding-right: 14px;
  padding-left: 14px;

  position: relative;
  clip-path: polygon(
    -1px 7px,
    0px 7px,
    7px 0px,
    7px 0px,
    7px 0px,
    7px 0px,
    7px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(100% + 1px),
    -1px calc(100% + 1px)
  );
}
[data-theme='yellow'] .docs-story > div:last-child > button {
  background-color: var(--cb-black-transparent);
  color: var(--cb-turquoise);
}
[data-theme='darkRed'] .docs-story > div:last-child > button {
  background-color: var(--cb-turquoise-dark);
  color: var(--cb-turquoise);
}
:is([data-theme='yellow'], [data-theme='darkRed'])
  .docs-story
  > div:last-child
  > button:focus {
  box-shadow: var(--cb-turquoise) 0px 0px 14px -1px inset;
}
.docs-story > div:last-child > button::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 7px;
  height: 2px;
}
[data-theme='yellow'] .docs-story > div:last-child > button::before {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .docs-story > div:last-child > button::before {
  background-color: var(--cb-red);
}
.docs-story > div:last-child > button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  clip-path: polygon(
    2px 9px,
    2px 8px,
    8px 2px,
    9px 2px,
    9px 2px,
    9px 2px,
    9px 2px,
    100% 2px,
    100% calc(100% - 2px),
    2px calc(100% - 2px),
    2px 9px,
    -1px 9px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 9px,
    2px 9px
  );
}
[data-theme='yellow'] .docs-story > div:last-child > button::after {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .docs-story > div:last-child > button::after {
  background-color: var(--cb-red);
}
