html,
body,
#storybook-root {
  height: 100%;
}

[data-theme='yellow'] .sbdocs-wrapper {
  background-color: var(--cb-yellow-main);
}

[data-theme='darkRed'] .sbdocs-wrapper {
  background-color: transparent;
  background: linear-gradient(
    355deg,
    rgba(5, 9, 14, 1) 0%,
    rgba(71, 21, 25, 1) 100%
  );
  background-attachment: fixed;
}

[data-theme='dark'] .sbdocs-wrapper {
  background-color: var(--cb-darkest-gray);
}

[data-theme='yellow']
  .sbdocs-wrapper
  :is(.sbdocs-title, .sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-black);
}

[data-theme='darkRed'] .sbdocs-wrapper .sbdocs-title {
  color: var(--cb-turquoise);
}

[data-theme='darkRed']
  .sbdocs-wrapper
  :is(.sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-red);
}

[data-theme='dark']
  .sbdocs-wrapper
  :is(.sbdocs-title, .sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-yellow-alt);
}

.sbdocs-wrapper :is(.sbdocs-title, #stories) {
  font-family: 'Refinery 25', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 100%;
}
.sbdocs-wrapper #stories {
  font-size: 30px;
}

.sbdocs-wrapper .sbdocs-title + p {
  font-family: 'Blender Pro Book', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.sbdocs-wrapper .sbdocs-preview {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border-width: 0;
  position: relative;

  clip-path: polygon(
    -1px 15px,
    0px 15px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(100% + 1px),
    -1px calc(100% + 1px)
  );
}
.sbdocs-wrapper .sbdocs-preview::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  clip-path: polygon(
    2px 17px,
    2px 16px,
    16px 2px,
    17px 2px,
    17px 2px,
    17px 2px,
    17px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 17px,
    -1px 17px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 17px,
    2px 17px
  );
}
[data-theme='yellow'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-red);
}
[data-theme='dark'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-yellow-alt);
}

.sbdocs-wrapper .sbdocs-preview > div:has(button[title='Zoom in']) {
  box-shadow: none;
}
.sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  button:first-child {
  margin-left: 10px;
}
[data-theme='yellow']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in']) {
  background-color: var(--cb-turquoise);
  color: var(--cb-black);
}
[data-theme='dark']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in']) {
  background-color: var(--cb-yellow-alt);
  color: var(--cb-black);
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in']) {
  background-color: hsl(355, 51%, 18%);
  color: var(--cb-red);
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  > div {
  position: relative;
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  > div::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--cb-red);
}
.sbdocs-wrapper .sbdocs-preview > div:has(button[title='Zoom in']) button {
  border-radius: 0;
  outline: none;
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  :is(button:hover, button:focus-visible) {
  background-color: transparent;
  color: var(--cb-turquoise);
  filter: drop-shadow(0px 0px 3px var(--cb-turquoise))
    drop-shadow(0px 0px 12px var(--cb-turquoise))
    drop-shadow(0px 0px 16px var(--cb-turquoise));
}
[data-theme='darkRed']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  :is(button:hover, button:focus-visible) {
  background-color: var(--cb-turquoise-transparent);
  color: var(--cb-turquoise);
}
[data-theme='yellow']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  :is(button:hover, button:focus-visible) {
  background-color: var(--cb-red-transparent);
  color: var(--cb-red);
}
[data-theme='yellow']
  .sbdocs-wrapper
  .sbdocs-preview
  > div:has(button[title='Zoom in'])
  button:focus-visible {
  outline: 1px solid var(--cb-red);
}

.sb-anchor > h3 {
  font-family: 'Blender Pro Bold', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* show code button */
.docs-story > div:last-child:has(> button) {
  bottom: 0;
  right: 2px;
  background: transparent;
}
.docs-story > div:last-child > button {
  border: none;
  border-radius: 0;
  font-family: 'Blender Pro Bold', sans-serif;
  font-size: 14px;

  padding-right: 14px;
  padding-left: 14px;

  transition: box-shadow 0.2s ease-in-out;

  position: relative;
  clip-path: polygon(
    -1px 7px,
    0px 7px,
    7px 0px,
    7px 0px,
    7px 0px,
    7px 0px,
    7px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(100% + 1px),
    -1px calc(100% + 1px)
  );
}
[data-theme='yellow'] .docs-story > div:last-child > button {
  background-color: var(--cb-black-transparent);
  color: var(--cb-turquoise);
}
[data-theme='darkRed'] .docs-story > div:last-child > button {
  background-color: var(--cb-turquoise-dark);
  color: var(--cb-turquoise);
}
[data-theme='dark'] .docs-story > div:last-child > button {
  background-color: var(--cb-darkest-gray);
  color: var(--cb-yellow-alt);
}
:is([data-theme='yellow'], [data-theme='darkRed'])
  .docs-story
  > div:last-child
  > button:focus {
  box-shadow: var(--cb-turquoise) 0px 0px 14px -1px inset;
}
[data-theme='dark'] .docs-story > div:last-child > button:focus {
  box-shadow: var(--cb-green) 0px 0px 14px -1px inset;
}
.docs-story > div:last-child > button::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 7px;
  height: 2px;
}
[data-theme='yellow'] .docs-story > div:last-child > button::before {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .docs-story > div:last-child > button::before {
  background-color: var(--cb-red);
}
[data-theme='dark'] .docs-story > div:last-child > button::before {
  background-color: var(--cb-yellow-alt);
}
.docs-story > div:last-child > button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  clip-path: polygon(
    2px 9px,
    2px 8px,
    8px 2px,
    9px 2px,
    9px 2px,
    9px 2px,
    9px 2px,
    100% 2px,
    100% calc(100% - 2px),
    2px calc(100% - 2px),
    2px 9px,
    -1px 9px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 9px,
    2px 9px
  );
}
[data-theme='yellow'] .docs-story > div:last-child > button::after {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .docs-story > div:last-child > button::after {
  background-color: var(--cb-red);
}
[data-theme='dark'] .docs-story > div:last-child > button::after {
  background-color: var(--cb-yellow-alt);
}

/* args table */
#storybook-docs .docblock-argstable {
  position: relative;
  clip-path: polygon(
    -1px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(100% + 1px),
    15px calc(100% + 1px),
    15px 100%,
    0px calc(100% - 15px),
    0px calc(100% - 15px),
    0px calc(100% - 15px),
    0px calc(100% - 15px),
    -1px calc(100% - 15px)
  );
}
#storybook-docs .docblock-argstable::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  clip-path: polygon(
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    17px calc(100% - 2px),
    16px calc(100% - 2px),
    2px calc(100% - 16px),
    2px calc(100% - 17px),
    2px calc(100% - 17px),
    2px calc(100% - 17px),
    2px calc(100% - 17px),
    2px 2px,
    -1px 2px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 2px,
    2px 2px
  );
}
[data-theme='yellow'] #storybook-docs .docblock-argstable::after {
  background-color: var(--cb-turquoise);
}
[data-theme='dark'] #storybook-docs .docblock-argstable::after {
  background-color: var(--cb-yellow-alt);
}
#storybook-docs .docblock-argstable .docblock-argstable-head th {
  font-family: 'Blender Pro Bold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 16px;
}
#storybook-docs .docblock-argstable .docblock-argstable-head th:first-child {
  padding-left: 20px;
}
#storybook-docs .docblock-argstable .docblock-argstable-head th:last-child {
  padding-right: 20px;
}
#storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th:last-child
  button {
  border-radius: none;
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th:last-child
  button {
  color: var(--cb-turquoise);
}

[data-theme='dark']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th:last-child
  button {
  color: var(--cb-black);
  border-radius: 0;
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th:last-child
  button:is(:hover, :focus-visible) {
  background: none;
  outline: none;
  filter: drop-shadow(0px 0px 3px var(--cb-turquoise))
    drop-shadow(0px 0px 12px var(--cb-turquoise))
    drop-shadow(0px 0px 6px var(--cb-turquoise));
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th:last-child
  button:is(:hover, :focus-visible) {
  background: var(--cb-turquoise-transparent);
  color: var(--cb-turquoise);
  outline: none;
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th {
  color: var(--cb-turquoise);
  background-color: var(--cb-black);
  border-bottom: 1px solid var(--cb-turquoise-dark);
}
[data-theme='dark']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-head
  th {
  color: var(--cb-black);
  background-color: var(--cb-yellow-alt);
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  :is(th:not(:last-child), td:not(:last-child)) {
  border-right: 1px solid var(--cb-turquoise-transparent);
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  tr:not(:last-child)
  td {
  border-bottom: 1px solid var(--cb-turquoise-transparent);
}
#storybook-docs .docblock-argstable .docblock-argstable-body {
  filter: none;
}
#storybook-docs .docblock-argstable .docblock-argstable-body td {
  border-radius: 0;
  border-block: none;
  border-inline: none;
  font-family: 'Blender Pro Book', sans-serif;
  font-size: 16px;
}
#storybook-docs .docblock-argstable .docblock-argstable-body tr:first-child td {
  padding-top: 15px;
}
#storybook-docs .docblock-argstable .docblock-argstable-body tr:last-child td {
  padding-bottom: 20px;
}
#storybook-docs .docblock-argstable .docblock-argstable-body tr td:first-child {
  font-family: 'Audiowide Mono', monospace;
  font-size: 12px;
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  tr
  td:first-child {
  color: var(--cb-turquoise);
}
[data-theme='dark']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  tr
  td:first-child {
  color: var(--cb-yellow-alt);
}
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  td {
  color: var(--cb-white);
  background-color: var(--cb-black);
}
[data-theme='dark']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  td {
  color: var(--cb-white);
  background-color: transparent;
}

#storybook-docs :is(code, .rejt-tree) {
  font-family: 'Audiowide Mono', monospace;
}

#storybook-docs code,
#storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  td:nth-child(2)
  div:last-child
  span {
  font-family: 'Audiowide Mono', monospace;
  background-color: transparent;
  border: none;
  padding: 0;
}
[data-theme='yellow'] #storybook-docs code,
[data-theme='yellow']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  td:nth-child(2)
  div:last-child
  span {
  color: var(--cb-turquoise);
}
[data-theme='dark'] #storybook-docs code,
[data-theme='dark']
  #storybook-docs
  .docblock-argstable
  .docblock-argstable-body
  td:nth-child(2)
  div:last-child
  span {
  color: var(--cb-yellow-alt);
}

#storybook-docs .docblock-argstable td > button[id^='set-'] {
  background-color: transparent;
  border-radius: 0;
  padding: 10px 35px;

  transition: color 0.2s ease-in-out;

  position: relative;
  clip-path: polygon(
    -1px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(50% - 0.75px),
    calc(100% - 0.5px) calc(50% - 0.75px),
    calc(100% - 7.5px) calc(50% - 0.75px),
    calc(100% - 7.5px) calc(50% - 0.25px),
    calc(100% - 7.5px) calc(50% + 0.25px),
    calc(100% - 7.5px) calc(50% + 0.75px),
    calc(100% - 7px) calc(50% + 0.75px),
    calc(100% + 1px) calc(50% + 0.75px),
    calc(100% + 1px) calc(100% + 1px),
    11px calc(100% + 1px),
    11px 100%,
    0px calc(100% - 11px),
    0px calc(100% - 11px),
    0px calc(100% - 11px),
    0px calc(100% - 11px),
    -1px calc(100% - 11px)
  );
}

#storybook-docs .docblock-argstable td > button[id^='set-']::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: background-color 0.2s ease-in-out;

  clip-path: polygon(
    1px 1px,
    calc(100% - 1px) 1px,
    calc(100% - 1px) calc(50% - 1.75px),
    calc(100% - 1.5px) calc(50% - 1.75px),
    calc(100% - 8.5px) calc(50% - 1.75px),
    calc(100% - 8.5px) calc(50% - 1.25px),
    calc(100% - 8.5px) calc(50% + 1.25px),
    calc(100% - 8.5px) calc(50% + 1.75px),
    calc(100% - 8px) calc(50% + 1.75px),
    calc(100% - 1px) calc(50% + 1.75px),
    calc(100% - 1px) calc(100% - 1px),
    12px calc(100% - 1px),
    11.5px calc(100% - 1px),
    1px calc(100% - 11.5px),
    1px calc(100% - 12px),
    1px calc(100% - 12px),
    1px calc(100% - 12px),
    1px calc(100% - 12px),
    1px 1px,
    -1px 1px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 1px,
    1px 1px
  );
}
:is([data-theme='yellow'], [data-theme='dark'])
  #storybook-docs
  .docblock-argstable
  td
  > button[id^='set-'] {
  color: var(--cb-turquoise-dark);
}
:is([data-theme='yellow'], [data-theme='dark'])
  #storybook-docs
  .docblock-argstable
  td
  > button[id^='set-']::after {
  background-color: var(--cb-turquoise-dark);
}
:is([data-theme='yellow'], [data-theme='dark'])
  #storybook-docs
  .docblock-argstable
  td
  > button[id^='set-']:is(:hover, :focus-visible) {
  color: var(--cb-turquoise);
}
:is([data-theme='yellow'], [data-theme='dark'])
  #storybook-docs
  .docblock-argstable
  td
  > button[id^='set-']:is(:hover, :focus-visible)::after {
  background-color: var(--cb-turquoise);
}
