html,
body,
#storybook-root {
  height: 100%;
}

[data-theme='yellow'] .sbdocs-wrapper {
  background-color: var(--cb-yellow-main);
}

[data-theme='darkRed'] .sbdocs-wrapper {
  background-color: transparent;
  background: linear-gradient(
    355deg,
    rgba(5, 9, 14, 1) 0%,
    rgba(71, 21, 25, 1) 100%
  );
}

[data-theme='dark'] .sbdocs-wrapper {
  background-color: var(--cb-darkest-gray);
}

[data-theme='yellow']
  .sbdocs-wrapper
  :is(.sbdocs-title, .sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-black);
}

[data-theme='darkRed'] .sbdocs-wrapper .sbdocs-title {
  color: var(--cb-turquoise);
}

[data-theme='darkRed']
  .sbdocs-wrapper
  :is(.sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-red);
}

[data-theme='dark']
  .sbdocs-wrapper
  :is(.sbdocs-title, .sbdocs-title + p, #stories, .sb-anchor > h3) {
  color: var(--cb-yellow-alt);
}

.sbdocs-wrapper :is(.sbdocs-title, #stories) {
  font-family: 'Refinery 25', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 100%;
}
.sbdocs-wrapper #stories {
  font-size: 30px;
}

.sbdocs-wrapper .sbdocs-title + p {
  font-family: 'Blender Pro Book', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.sbdocs-wrapper .sbdocs-preview {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border-width: 0;
  position: relative;

  clip-path: polygon(
    -1px 15px,
    0px 15px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px 0px,
    15px -1px,
    calc(100% + 1px) -1px,
    calc(100% + 1px) calc(100% + 1px),
    -1px calc(100% + 1px)
  );
}
.sbdocs-wrapper .sbdocs-preview::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  clip-path: polygon(
    2px 17px,
    2px 16px,
    16px 2px,
    17px 2px,
    17px 2px,
    17px 2px,
    17px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 17px,
    -1px 17px,
    -1px calc(100% + 1px),
    calc(100% + 1px) calc(100% + 1px),
    calc(100% + 1px) -1px,
    -1px -1px,
    -1px 17px,
    2px 17px
  );
}
[data-theme='yellow'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-turquoise);
}
[data-theme='darkRed'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-red);
}
[data-theme='dark'] .sbdocs-wrapper .sbdocs-preview::after {
  background-color: var(--cb-yellow-alt);
}

.sb-anchor > h3 {
  font-family: 'Blender Pro Bold', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
