:root {
  --menu-height: 48px;
  --_padding-top: 36px;
  --header-height: calc(var(--menu-height) + var(--_padding-top));
}

.appContainer {
  width: 100%;
  height: 100%;
  max-width: 2560px;
  max-height: 1440px;
  background-color: var(--cb-primary-color);
}

.app {
  width: 100%;
  height: 100%;
  max-width: 2560px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: var(--header-height);
  padding-top: var(--_padding-top);
  padding-right: 40px;
  align-self: end;
}

.menuContainer {
  display: flex;
  justify-content: end;
}

.player {
  height: calc(100% - var(--header-height));
}

.themeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cb-primary-color);
}
